# Dart and Flutter-specific files
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated JavaScript files:
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# iOS-specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/App.framework/

# Android-specific
android/.gradle/
android/app/build/

# macOS-specific
macos/Pods/
macos/Flutter/ephemeral/

# Windows-specific
windows/Flutter/ephemeral/

# Linux-specific
linux/Flutter/ephemeral/

# Web-specific
web/.dart_tool/
web/build/

# IDE-specific files
.idea/
.vscode/
*.iml

# Temporary files
*.log
*.temp
*.tmp

# System files
.DS_Store

# Exclude Firebase-related files if not required
.firebase/
